<header>
  <img
    src="assets/img/enzo.png"
    alt="Enzo Santos - Fotodo de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />

  <h1>Enzo Santos</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack TypeScript | Angular | NodeJs | NestJs | SQL</p>
    <p>Santo André, São Paulo, Brasil</p>
    <p>
      Apaixonado por criar soluções inovadoras e eficientes. Com expertise
      sólida em Node.js, TypeScript e MySQL, concentro meus esforços no
      desenvolvimento de softwares internos de alta qualidade para empresas.
    </p>

    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/curriculo_2024.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Download Cv
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/enzo-augusto-dos-santos-b294aa236/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Ícone para contato"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511977118558&text=Ol%C3%A1%20Enzo,%20tenho%20%20uma%20proposta%20para%20você!"
            target="_blank"
            ><strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (11) 97711-8558</p></a
          >
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="Ícone para email"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:enzoaugusto312@gmail.com" target="_blank"
            ><strong>Envie um email para:</strong>
            <p>Enzoaugusto312&#64;gmail.com</p></a
          >
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
